$navbar-brand-wrapper-mini-width: 70px;
$menu-break-point: 1020px;
$horizontal-navbar-height: 135px;
$horizontal-top-bg : #f3f4f7;
$horizontal-top-navbar-height: 60px;
$horizontal-menu-padding: 0 1rem;
$horizontal-menu-height:  57px;
$horizontal-top-menu-item-color: #2e294e;
$horizontal-top-font-size: 1rem;
$horizontal-bottom-bg: #f3f4f7;
$horizontal-bottom-menu-item-color: #686868;
$horizontal-bottom-menu-item-icon-color: theme-color(danger);
$horizontal-bottom-menu-item-active-color: theme-color(primary);
$horizontal-menu-submenu-color: #202339;
$horizontal-bottom-menu-item-font-size: .875rem;
$horizontal-bottom-menu-item-hover-bg: transparent;
$horizontal-bottom-menu-item-hover-color: theme-color(primary);
$horizontal-menu-item-padding: .75rem 0;
$horizontal-menu-icon-font-size: 1.25rem;
$horizontal-menu-submenu-item-padding: .85rem 0;
$horizontal-menu-box-shadow: 0 19px 34px -15px #d2d2f2;
$horizontal-navbar-input-color:#6f7580;
$horizontal-navbar-input-box-shadow:inset 2px 1px 3px 0 rgba(200, 186, 186, 0.5);
$horizontal-navbar-nav-link-bg:linear-gradient(to top, #f1f2f5, rgba(255, 255, 255, 0)), linear-gradient(to bottom, #f6f6f9, #f6f6f9);
$horizontal-navbar-nav-link-box-shadow:4px 4px 10px 0 rgba(0, 0, 0, 0.08), -5px -6px 10px 0 rgba(253, 253, 253, 0.9);
$horizontal-navbar-input-bg:#f1f1f4;
$horizontal-navbar-nav-link-bg:linear-gradient(to top, #f1f2f5, rgba(255, 255, 255, 0)), linear-gradient(to bottom, #f6f6f9, #f6f6f9);
$horizontal-navbar-nav-link-box-shadow:4px 4px 10px 0 rgba(0, 0, 0, 0.08), -5px -6px 10px 0 rgba(253, 253, 253, 0.9);